@charset "utf-8";
/*----------------------------------
	tag initialization 
----------------------------------*/
body {text-align:left;background:#fff;}
body{color:#333;text-align:left;font:12px/1.22 sans-serif;*font-size:small;*font:x-small;line-height:175%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote{margin:0;padding:0;}
fieldset,img{border:0;}
table{border-collapse:collapse;border-spacing:0;font-size:inherit;font:100%;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}

/*----------------------------------
	menu 
----------------------------------*/
body#menu{background: url(../img/menu_body_bg.jpg) no-repeat 0 0;}
body#menu dl dd{width:190px;}
body#menu dl ul{width:180px;margin:1em auto;}
body#menu ul li{display:block;width:160px;border:1px solid #7d95a4;border-bottom:0px solid #666;background: url(../img/menu_li_01_bg.jpg) repeat-x 0 0 #fff;margin:0 auto;}
body#menu ul li.m08{border-bottom:1px solid #7d95a4;background: url(../img/menu_li_02_bg.jpg) repeat-x 0 0 #fff;}
body#menu ul li:hover{display:block;width:160px;border:1px solid #7d95a4;border-bottom:0px solid #666;background: url(../img/menu_li_01_bg.jpg) repeat-x 0 -450px #fff;margin:0 auto;}
body#menu ul li.m08:hover{border-bottom:1px solid #7d95a4;background: url(../img/menu_li_02_bg.jpg) repeat-x 0 -450px #fff;}
body#menu ul li a {display:block;width:160px;padding:0.5em 0 0.5em 1.2em;background:url(../img/menu_li_arrow.gif) no-repeat 0.5em 1em;font-size:92%;color:#222;text-decoration: none;}

body#menu a:hover{text-decoration: underline;}

body#menu ul li a.current{font-weight:bold;}
body#menu ul li a.subMenu{padding:0.5em 0 0.5em 1.6em;margin-right:-0.4em;background:url(../img/menu_li_arrow.gif) no-repeat 1em 1em;}
