@charset "utf-8";
@import "default.css";

/*----------------------------------
	schedule 
----------------------------------*/
body#schedule
{
	text-align: center;
}
body#schedule div.list table
{
	width:94%;
	margin:1em auto;
	border-collapse: separate;
	border-spacing: 1px;
	text-align: left;
}

body#schedule table caption
{
	background: #437AA3;padding:0.2em;
	border-bottom:2px solid #fff;
	text-align: center;
	font-size:150%;
	font-weight:bold;
	color:#fff;
}
body#schedule table th
{
	background: #333;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	font-size:100%;
	font-weight:normal;
	color:#fff;
}
body#schedule div.list td
{
	padding:0.2em;
	border-bottom:1px solid #666;
	border-right:1px solid #666;
	text-align: center;
}

body#schedule table th,
body#schedule table td
{
	white-space:nowrap;
	text-align:center;
}

/* 企画 */
body#schedule table td.plan
{
	text-align:left;
	padding-left:1em;
}

/* 部門名 */
body#schedule table td.session
{
	text-align:left;
	padding-left:1em;
}

/* 講演会場 */
body#schedule table th.room,
body#schedule table td.room
{
	width:180px;
}

/* 講演番号 */
body#schedule table th.lectureNum,
body#schedule table td.lectureNum
{
	width:60px;
}

body#schedule em
{
	font-weight:bold;
}

body#schedule dt
{
	background-image:url('sq.png');
	background-repeat:no-repeat;
	background-position:0 -2px;
	margin:4px;
	text-align:left;
	padding-left:18px;
	line-height:100%;
}

body#schedule .stripe
{
	background: #c2dcef;
}

div.place
{
	margin:auto;
	width: 120px;
}

ul.place
{
	list-style:disc;
	text-align:left;
	padding-left:2em;
}