@charset "utf-8";
@import "default.css";


#contents > dl
{
	border-bottom:1px solid black;
	padding-bottom:2em;
	margin-bottom:2em;
}

dd
{
	padding-left:40px;
}
em
{
	font-weight:bolder;
}

dl.webInfo dt
{
	font-weight:normal;
	background-image:url('colon.png');
	background-repeat:no-repeat;
	background-position:right 4px;
	float:left;
	clear:both;
	width:90px;
}